body {
  background-color: #282c34;
}

a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
}

p {
  color: #eee;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0px;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 0px;
  margin-bottom: 32px;
  text-align: center;
}

h3 {
  padding: 0;
  margin: 4px;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.App {
  background-color: #282c34;
  color: #eeeeee;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.card_container {
  display: flex;
}

.card_container_vertical {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  flex: 1;
  background-color: #2f343f;
  padding: 20px;
  margin: 4px;
  margin-right: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.logo {
  margin-top: 32px;
  margin-bottom: 8px;
}

.health_card {
  display: flex;
  padding: 0;
}

.health_icon {
  flex: 1;
  align-self: center;
  padding: 8px;
  margin-left: 8px;
}

.health_title {
  align-self: center;
  flex: 5;
}

.health_value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 0px 4px 4px 0px;
  flex: 3;
}

.health_value h3 {
  font-weight: 400;
}

.large_card {
  flex: 2;
  background-color: #2f343f;
  padding: 20px;
  margin: 4px;
  margin-right: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.feedback_button {
  flex: 1;
  cursor: pointer;
  padding: 16px;
  margin: 4px;
  margin-right: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.control_title {
  margin-top: 30px;
  font-size: large;
}

.control_element {
  cursor: pointer;
}

.current_time {
  font-size: 56px;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .card_container {
    flex-direction: column;
  }
}

/* ------------- SCROLL BAR -------------- */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #302e38;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #342f40;
}